@model ProductsListViewModel

@{
    ViewData["Title"] = "View";
}

<h1>List</h1>

<p>
    @foreach (var p in Model.Products)
    {
        <div class="card border-primary m-1 p-1">
            <div class="bg-light p-1">
                <h4>
                    @p.Name
                    <span class="badge badge-pill badge-primary" style="float: right">
                        <small>@p.Price.ToString("C")</small>
                    </span>
                </h4>
            </div>
            <div class="card-text p-1">@p.Description</div>
        </div>
    }

    <div class="btn-group float-right m-1" page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-secondary" page-class-selected="btn-primary">
    </div>
</p>