@model ProductsListViewModel

@{
    ViewData["Title"] = "View";
}

<h1>List</h1>

<p>
    @foreach (var p in Model.Products)
    {
        @await Html.PartialAsync("ProductSummary", p)
    }

    <div class="btn-group float-right m-1"
         page-model="@Model.PagingInfo"
         page-action="List"
         page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-secondary"
         page-class-selected="btn-primary"
         page-url-category="@Model.CurrentCategory">
    </div>
</p>