@model IEnumerable<string>

<a class="btn btn-block btn-light border-secondary"
   asp-action="List"
   asp-controller="Product"
   asp-route-category="">
    Home
</a>

@foreach (var category in Model)
{
    <a class="btn btn-block border-secondary
       @(ViewBag.SelectedCategory == category ? "btn-primary" : "btn-light")"
       asp-action="List"
       asp-controller="Product"
       asp-route-category="@category"
       asp-route-productPage="1">
        @category
    </a>
}